@font-face {
    font-family: inter-regular;
    src: url(assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: inter-bold;
    src: url(assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: inter-semibold;
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

p,
#name,
#button {
    color: white;
}

body {
    background-color: hsl(0, 0%, 8%);
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    max-height: 1440px;
    min-height: 520px;
    width: 350px;
    background-color: hsl(0, 0%, 12%);
}

#profile {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: 30px;
}

#name {
    font-size: 22px;
    font-weight: bold;
    font-family: inter-semibold;
    margin-top: 30px;
}

#location {
    color: hsl(75, 94%, 57%);
    font-family: inter-semibold;
    font-size: 13px;
    margin-top: 10px;
}

#description {
    margin-top: 18px;
    margin-bottom: 38px;
    font-family: inter-regular;
    font-size: 12px;
}

.button {
    font-family: inter-semibold;
    font-size: 15px;
    width: 280px;
    height: 40px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 7px;
    border: none;
    margin-bottom: 15px;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    border: none;
    transition: 0.4s;
}

.attribution {
    margin-top: 50px;
    align-self: center;
    color: hsl(0, 0%, 100%);
}
